@import "src/variables";

.edit__goal {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  $padding: 2rem;
  padding: $padding;
  min-width: 200px;
  width: calc(80% - 2 * $padding);
  height: calc(100% - 2 * $padding);
  max-width: 300px;
  background: $rly-light-grey;
  box-shadow: -2px 0 11px 0 rgb(140 140 140 / 27%);
  animation: rtl 0.3s ease-in-out;

  & .close {
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
  }

  & .goal__header {
    & .goal__title h1 {
      margin-bottom: .2rem;
    }

    & p {
      margin-bottom: 1px;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    .goal__description {
      display: flex;
      align-items: center;

      & mat-icon.warning {
        font-size: 16px;
        display: grid;
        place-items: center;
      }
    }
  }

  & .divider {
    height: 2px;
    border-radius: 1px;
    width: 80%;
    margin: auto;
    margin-block: 2rem;
    background: $light-grey;
  }

  & .goal__content {
    & h2 {
      margin-bottom: .2rem;
    }

    & .tasks {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .task {
        width: 100%;
      }
    }

    & .task__count {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      & .count {
        display: flex;
        align-items: center;

        mat-icon {
          display: grid;
          place-items: center;
          height: 24px;
          width: 24px;
          aspect-ratio: 1;
          font-size: 16px;
          color: darkgray;
        }

        small {
          height: fit-content;
        }
      }
    }
  }
}
