<aside #editGoal class="edit__goal">
  <div class="close">
    <vp-button
      (clicked)="close()"
    >
      Fermer
    </vp-button>

    <vp-button
      (clicked)="delete()"
      background="red"
      hoverColor="red"
    >
      Supprimer
    </vp-button>
  </div>

  <div class="goal__header">
    <div class="goal__title">
      <h1 class="mat-body">{{ goal.name }}</h1>
    </div>
    <p>
      <small class="goal__description">
        {{ goal.description }}
      </small>
    </p>
    <p>
      <small class="goal__description">
        Commence le: {{ goal.date_start | date: 'dd/MM/yyyy' }}
      </small>
    </p>
    <p>
      <small class="goal__description" [class.text-red]="deadlineIsSoon(goal.deadline)">
        <mat-icon [class.warning]="deadlineIsSoon(goal.deadline)" *ngIf="deadlineIsSoon(goal.deadline)">
          warning
        </mat-icon>
        Fini le:
        {{ goal.deadline | date: 'dd/MM/yyyy' }}
      </small>
    </p>
    <p>
      <small class="label__small">Ajouter les labels:</small>
      <app-label-list [project]="project" [goal]="goal" [canAddLabel]="true" (labelAdded)="handleLabelAssigned($event)" (labelRemoved)="handleLabelUnassigned($event)" [labels]="goal.labels"></app-label-list>
    </p>
  </div>

  <div class="divider"></div>

  <div class="goal__content">
    <div class="task__count">
      <h2 class="mat-body-1">Tâches:</h2>
      <div class="count">
        <mat-icon>assignment_turned_in</mat-icon>
        <small class="mat-small">{{ getCompletedTasks() }} / {{ goal.tasks.length }}</small>
      </div>
    </div>
    <div class="tasks">
      <div class="task" *ngFor="let task of getSortedTasks(goal.tasks)">
        <app-task-preview (done)="resort()" (deleted)="handleDeletedTask($event)" [goal]="goal" [task]="task"></app-task-preview>
      </div>
      <vp-button
        *ngIf="goal.status !== GoalStatus.DONE"
        background="light"
        color="purple"
        [border]="true"
        [hoverBorder]="false"
        hoverBgColor="purple"
        hoverColor="light"
        (clicked)="openAddTaskDialog()"
      >
        Ajouter une tâche
      </vp-button>
    </div>
  </div>
</aside>
