<div class="create__project">
  <form class="project__form" [formGroup]="form" (submit)="createProject()">
    <h1 class="mat-subheading-2">Créer un projet</h1>
    <p>Nom du projet:</p>
    <vp-input
      [parentForm]="form"
      parentFormControlName="name"
      type="text"
      placeholder="Nom du projet"
      name="name"
      [required]="true"
      tabulationIndex="1"
    >
      <small class="errorMessage mat-caption" errorMessage>
        {{ getErrorMessage('name') }}
      </small>
    </vp-input>

    <p>Description du projet:</p>
    <vp-input
      [parentForm]="form"
      parentFormControlName="description"
      type="text"
      placeholder="Description du projet"
      name="description"
      [required]="true"
      tabulationIndex="2"
    >
      <small class="errorMessage mat-caption" errorMessage>
        {{ getErrorMessage("description") }}
      </small>
    </vp-input>

    <p>Date prévisionnelle de fin de projet:</p>
    <vp-input
      [parentForm]="form"
      parentFormControlName="deadline"
      type="date"
      placeholder="Date de fin du projet"
      name="deadline"
      [required]="true"
      tabulationIndex="2"
    >
      <small class="errorMessage mat-caption" errorMessage>
        {{ getErrorMessage("deadline") }}
      </small>
      <small class="mat-caption">
        Cette dernière pourra être modifiée ultérieurement.
      </small>
    </vp-input>


    <vp-check
      [parentForm]="form"
      parentFormControlName="complete_mode"
      name="complete_mode"
      tabulationIndex="3"
    >
      Mode complet*
    </vp-check>
    <small class="mat-caption">*Le mode complet vous permet d'avoir accès à toutes les fonctionnalités d'optimisation automatique d'agenda et autres. Si vous voulez simplement planifier des réunions et organiser votre projet, laissez cette case décochée</small>

    <div class="controls">
      <vp-button
        [disabled]="form.invalid"
        tabulationIndex="4"
      >
        Créer
      </vp-button>
    </div>
  </form>
</div>
