<h1>
  {{ event.name }}
</h1>

<p>
  De {{ event.date_start | date: 'dd/MM/yyyy HH:mm' }} à {{ event.date_end | date: 'dd/MM/yyyy HH:mm' }}
</p>

<div class="divider"></div>
<p style="
                      display: flex;
                      align-items: center;
                      margin-bottom: 1rem;
                    }">
  <mat-icon style="margin-right: .5rem;">person</mat-icon>
  {{ event.participants.length }} participant(s)
</p>
<div class="participants__link">
  <div class="participants">
    <div
      *ngFor="let user of event.participants; let i = index"
      [style.z-index]="(event.participants.length ?? 0) + 1 - i"
      class="user"
      [matTooltip]="user?.name + ' ' + user?.lastname"
    >
                        <span
                          *ngIf="!user?.avatar"
                        >
                          {{ user?.name?.charAt(0) }}{{ user?.lastname?.charAt(0) }}
                        </span>
      <img
        *ngIf="user?.avatar"
        [ngSrc]="user?.avatar ?? ''"
        height="36"
        width="36"
        [alt]="user.avatar">
    </div>
  </div>
  <a class="go_to_link" *ngIf="event.videoCallLink && !isBeforeNow(event)" [href]="event.videoCallLink">
    <mat-icon>videocam</mat-icon>
    <span>Rejoindre la réunion</span>
  </a>
</div>
<p *ngIf="event.description" class="event__description">
  <mat-icon>comment</mat-icon>
  <span>
                        {{ event.description }}
                      </span>
</p>
<div class="divider"></div>
<div class="participating" *ngIf="!isBeforeNow(event)">
  <p class="mat-small">
    Participer ?
  </p>
  <div class="controls">
    <div class="disabled">
      <p>
        <mat-icon>check_circle</mat-icon>
        Oui
      </p>
    </div>
    <div
      [class.disabled]="!event.participating"
      (click)="unparticipate(event)"
    >
      <p>
        <mat-icon>cancel</mat-icon>
        Non
      </p>
    </div>
  </div>
</div>
<div class="delete" *ngIf="event.createdByMe">
  <p class="mat-small">
    Supprimer ?
  </p>
  <div class="controls">
    <div
      (click)="deleteEvent(event)"
    >
      <p>
        <mat-icon>delete</mat-icon>
        Supprimer
      </p>
    </div>
  </div>
</div>
