<main class="discover__main">
  <div id="presentation">
    <h1 class="mat-display-2 text-gradient indigo-to-purple">Organisez votre travail personnel ou celui de votre équipe en toute simplicité</h1>
    <p>
      Que vous soyez étudiant, salarié ou freelance, VisualProductivity vous permet d'optimiser votre temps, préparer et suivre vos projets le tout grâce à une interface simple et intuitive.
    </p>
    <p>
      Parmis les fonctionnalitées que vous pourrez retrouver: l'organisation automatique de projet, la création de TODO lists par projets ou personnelles, suivi visuel de votre projet, cloud de fichier partagé et bien d'autres encore...
    </p>
    <button mat-raised-button color="primary">
      <a href="#features">
        Voir les fonctionnalitées
      </a>
    </button>
  </div>
  <div id="features">
<!--    TODO -->
  </div>
</main>
