<div class="week__calendar">
  <div class="week__header">
    <div class="week__controls">
      <div class="week__control week__control--prev">
        <button (click)="prevWeek()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div class="week__control week__control--next">
        <button (click)="nextWeek()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="week__days">
      <div class="week__day" [class.current__day]="day.current" *ngFor="let day of days">
        <div class="day__container">
          <div class="week__day-date">{{ day.date | date: 'dd' }}</div>
          <div class="week__day-name">{{ day.name }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar__wrapper" #calendarWrapper>
    <!-- Whole day -->
    <div class="whole__day--events">
    </div>

    <div class="calendar__content">
      <div class="calendar__gridslots">
        <table>
          <colgroup><col></colgroup>
          <tbody>
            <tr *ngFor="let hour of hours">
              <td [attr.data-time]="hour" class="hour">
                {{ hour }}
              </td>
              <td [attr.data-time]="hour" class="slot__row"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="calendar__gridcols">
        <div class="hour__cursor" #timeCursor>
          <div class="triangle"></div>
        </div>

        <table>
          <colgroup><col></colgroup>
          <tbody>
          <tr role="row">
            <td></td>
            <td *ngFor="let day of days">

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
