<body style="font-family: Helvetica, sans-serif;
            font-size: 14px;
            color: #333333;
            margin: 0;
            padding: 0;">
<header style="background: #7d70ff;
            color: white;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;">
    <h1>Bonjour <span th:text="${firstName}">Peter Static</span>!</h1>
</header>
<main style=" width: 80%;
            margin: 5% auto auto;
            display: flex;
            flex-direction: column;
            align-items: center;">
    <h1 class="text-gradient"
        style="
            background: #22c2fb;
            background: -moz-linear-gradient(124deg, #22c2fb 0%, #7d70ff 100%);
            background: -webkit-linear-gradient(124deg, #22c2fb 0%, #7d70ff 100%);
            background: linear-gradient(124deg, #22c2fb 0%, #7d70ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: max-content;"
    >Bienvenue sur VisualProductivity !</h1>
    <p style="text-align: center;">
        Merci d'avoir créé un compte sur notre site. Pour activer votre compte, coller le code suivant sur le site web lors de votre connexion.
    </p>
    <p id="confirmationCodeContainer" style="font-size: 30px; display: flex;
    text-align: center;
            flex-direction: column;
            align-items: center;">
        <strong
                id="confirmationCode"
                style="color: #7d70ff;
            padding-block: .7rem;
            padding-inline: 1rem;
            border-radius: 11px;
            outline: 2px solid #7d70ff;
            cursor: pointer;"
                th:text="${code}">12345678</strong>
    </p>
    <p style="text-align: center;">
        Notez que votre code expire à <span id="expirationDate" data-expirationDate="22h10" th:attr="data-expirationDate=${expirationDate}" th:text="${expirationDate}">--h--</span>
    </p>
</main>
</body>
