@import "src/variables";

.vp__check {
  height: 20px;
  margin-bottom: 1rem;
  display: flex;
  user-select: none;

  & label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: $dark;
    $border-size: 2px;
    position: relative;
    display: flex;
    align-items: center;

    &:focus-visible {
      outline: none;

      &:before {
        border: $border-size solid $purple;
      }
    }

    & input {
      display: none;

      border: $border-size solid $light-grey;
      background: $light;
      border-radius: 12px;
      transition: all .3s ease-in-out;
      outline: none;
    }

    &:has(input:checked, input[checked]):before {
      border: $border-size solid $purple;
      background: $purple;
    }

    &:has(input:checked, input[checked]):after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }

    &:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      border: $border-size solid $light-grey;
      height: calc(20px - 2*$border-size);
      width: calc(20px - 2*$border-size);
      aspect-ratio: 1;
      border-radius: 4px;
      background: $light;
      transition: all .3s ease-in-out;
    }

    &:hover:before {
      background: $light-grey;
    }

    &:has(:checked, [checked]):before {
      background: $purple;
    }
  }
}
