<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    role="navigation"
    class="menu__sidenav"
    position="end"
    [(opened)]="opened"
    [fixedInViewport]="true"
  >
    <div class="menu__wrapper">
      <app-navbar (toggle)="toggleNavigation()"></app-navbar>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleNavigation)="toggleNavigation()"></app-header>
    <app-discover-main></app-discover-main>
  </mat-sidenav-content>
</mat-sidenav-container>
