<div class="vp__input" [formGroup]="parentForm">
  <ng-content select="[icon]"></ng-content>
  <label [for]="name">
    {{ label }}
  </label>
  <input
    [id]="name"
    [type]="type"
    [placeholder]="placeholder || ''"
    [name]="name"
    [spellcheck]="spellcheck"
    [pattern]="pattern"
    [required]="required"
    [autocomplete]="autocomplete ? 'on' : 'off'"

    [formControlName]="parentFormControlName"
    [tabindex]="tabulationIndex"
  >
  <ng-content select="[errorMessage]"></ng-content>
  <ng-content></ng-content>
</div>
