@import "src/variables";

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .vp__select::ng-deep [icon] {
    display: none;
  }
}}

.vp__select {
  position: relative;
  margin-bottom: .8rem;

  display: flex;
  flex-direction: column;

  &::ng-deep {
    [icon] {
      position: absolute;
      z-index: 1;
      top: 8px;
      right: .7rem;
    }

    & select.ng-touched.ng-invalid + [errorMessage] {
      height: 16px;
      visibility: visible;
    }

    & select::-webkit-outer-spin-button,
    select::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & select.ng-touched.ng-valid + [errorMessage] {
      height: 0;
      visibility: hidden;
    }

    [errorMessage] {
      width: calc(100% - .7rem - 2px);
      margin-top: .2rem;
      margin-left: calc(.7rem + 2px);
      height: 0;
      visibility: hidden;
      transition: height .3s ease-in-out;

      color: #e47272;
    }
  }

  & label {
    margin-bottom: .3rem;
  }

  & select {
    z-index: 99;
    position: relative;
    $padding: .7rem;
    padding-inline: $padding;
    width: 100%;
    height: 40px;
    $border-size: 2px;
    border: $border-size solid $light-grey;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    border-radius: 12px;
    transition: border .3s ease-in-out;
    outline: none;

    &.ng-touched.ng-valid {
      border:
        2px solid
        $green-light
      !important;
    }
  }
}
