@import "src/variables.scss";

.menu__button {
  min-width: 200px;
  padding-inline: .5rem;
}

.project__header {
  margin-bottom: 1.5rem;

  & .top {
    display: flex;

    & h1 {
      margin-bottom: .3rem;

    }

    & vp-button {
      height: 32px;
      width: 32px;
      aspect-ratio: 1/1;

      margin-left: auto;

      & mat-icon {
        font-size: 1.3rem;
        height: fit-content;
        width: fit-content;
      }
    }
  }
}

.project__navigation {
  margin-bottom: 1.5rem;

  a {
    margin-right: .5rem;

    &:not(.active) ::ng-deep button {
      background: transparent !important;
      color: darkgray;

      &:hover {
        color: darkgray;
      }
    }

    &.active ::ng-deep button {
      background: $purple-light;
      color: $light;

      &:hover {
        background: $purple-light;
        color: $light;
      }
    }
  }
}
