@keyframes appear__opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes btt {
  from {
    transform: var(--transformation, translate(0)) translateY(100%);
  }
  to {
    transform: var(--transformation, translate(0)) translateY(0);
  }
}

@keyframes rtl {
  from {
    transform: var(--transformation, translate(0)) translateX(100%);
  }
  to {
    transform: var(--transformation, translate(0)) translateX(0);
  }
}
