$header-size: 64px;
$navbar-size: 70px;
$dark: #383838;
$light: white;
$light-grey: #DFDDE4;
$rly-light-grey: #F6F5F8;

$purple: #7d70ff;
$purple-light: #beb8ff;
$green: #4db222;
$green-light: #d6efc4;
$green-light-active: #acd88c;
$indigo: #22c2fb;
$indigo-light: #91e1fd;
$orange: #fd6d2f;
$orange-light: #feb697;
$red: #d93636;
$red-light: #ec9b9b;
