@import "src/variables";

.register__page {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $light-grey;

  & .register__form {
    width: 60%;
    $padding: 2rem;
    padding: $padding;
    max-width: calc(550px - 2*$padding);
    border-radius: 6px;

    background: $light;

    & > a {
      color: darkgray;
      text-decoration: none;
    }

    .controls {
      margin-top: .5rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
