<div class="task__preview">
  <p class="mat-body-2" [matTooltip]="task.description">
    <span>
      {{ task.name }}
    </span>
    <small>
      {{ task.date_start | date: 'dd/MM/yyyy' }} - {{ task.date_end | date: 'dd/MM/yyyy' }}
    </small>
  </p>
  <div class="controls" *ngIf="goal?.status !== GoalStatus.DONE">
    <button (click)="delete()" role="button">
      <mat-icon color="warn">delete</mat-icon>
    </button>
    <button (click)="changeCompletedStatus()" role="button">
      <mat-icon *ngIf="!task.completed" color="primary">check_circle_outline</mat-icon>
      <mat-icon *ngIf="task.completed" color="primary">check_circle</mat-icon>
    </button>
  </div>
</div>
