@import "src/variables.scss";

app-logo {
  display: block;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;

  &.dark {
    fill: $dark;
  }

  &.light {
    fill: $light;
  }
}
